# Node.js dependencies
node_modules/

# Build output
dist/
build/

# Tailwind CSS cache
.cache/
.tw-cache/

# Environment-specific files
.env
.env.local

# Editor-specific files
.vscode/
.idea/

# Logs and temporary files
logs/
*.log
tmp/
*.tmp
